body{
    background-image: url(background.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  
  .bird{
    width: 200px;
    position: absolute;
    left: 20%;
    top: 10%;
    /* forwards */
    animation: birdAnim 2s infinite;
    /* animation-timing-function: linear; */
  }
  .bird img{
    width: 70%;
  }
  
  @keyframes birdAnim{
    0%{
      left: 100%;
      transform:;
    }

    100%{
      left: -100%;
    }
  



}

  .bird1{
    width: 200px;
    position: absolute;
    left: 20%;
    top: 10%;
    /* forwards */
    animation: birdAnim1 3s infinite;
    /* animation-timing-function: linear; */
  }
  .bird img{
    width: 70%;
  }
  
  @keyframes birdAnim1{
    0%{
      left: 100%;
      transform:;
    }

    100%{
      left: -100%;
    }
  }
  